.tour{
    margin-top: 100px;
    display: flex;
    gap: 80px;
    margin-left: 100px;
}
.tour-head{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    

}
.tour-p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 26px;
    width: 530px;
 